<!doctype html>
<html lang="en">

  <head>
    <title>I&M Acupuncture and Digital Body Message Center</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,700|Playfair+Display:400,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../assets/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../assets/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../assets/style.css">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo serif">
                <%= link_to root_url, :"data-no-turbolink" => true, method: "get" do %>
                  I&M Acupuncture and Digital Body Message Center
							  <% end %>
              </div>
            </div>

            <div class="col-9  text-right">
              
              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <% if user_signed_in? %>
                  <li><%= link_to "Home", root_url, class:"nav-link", :"data-no-turbolink" => true, method: "get" %></li>
                  <li><%= link_to "About", about_index_path, class:"nav-link", :"data-no-turbolink" => true, method: "get" %></li>
                  <li class="active"><%= link_to "Patience", patiences_path, class:"nav-link", :"data-no-turbolink" => true, method: "get" %></li>
                  <li><%= link_to "Appointments", appointments_path, class:"nav-link", :"data-no-turbolink" => true, method: "get" %></li>
                  <li><%= link_to "New Patience", new_patience_path, class:"nav-link", :"data-no-turbolink" => true, method: "get" %></li>
                  <li><%= link_to "New Appointment", new_appointment_path, class:"nav-link", :"data-no-turbolink" => true, method: "get" %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link", :"data-no-turbolink" => true, method: "get" %></li>
                  <% else %>
                  <li><%= link_to "Create An Account", new_user_registration_path, class:"nav-link", :"data-no-turbolink" => true, method: "get" %></li>
                  <li><%= link_to "Login", new_user_session_path, style:"color:steelblue", class:"nav-link", :"data-no-turbolink" => true, method: "get" %></li>
                  <% end %>
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../assets/massage 3.jpg')">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h1 class="mb-3">All Patience</h1>
              <p>This Page Shows You All Patience You Have.</p>
              <p><%= link_to "Learn More", patiences_path, class:"btn btn-primary", :"data-no-turbolink" => true, method: "get" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>


    
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="heading-border-bottom font-weight-bold serif text-black mb-5 text-center">All Patience</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <% @patiences.each do |patience| %>
            <div class="col-lg-4 col-md-6 mb-5">
              <div class="post-entry-1 h-100 person-1">
                <div class="post-entry-1-contents">
                  <span class="meta">Names: <%= patience.fullname %></span>
                  <p>Phone Number: <%= patience.phonenumber %><p>
                  <h2>Sickness: <%= patience.sickness %></h2>
                  <p>Medicines: <%= patience.medicines %></p>
                  <p>
                    <%= link_to 'Show', patience, :"data-no-turbolink" => true, method: "get" %>
                    <%= link_to 'Edit', edit_patience_path(patience), :"data-no-turbolink" => true, method: "get" %>
                    <%= link_to 'Destroy', patience, :"data-no-turbolink" => true, method: "get", method: :delete, data: { confirm: 'Are you sure?' } %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>  

    <footer class="site-footer bg-image overlay" style="background-image: url('../assets/massage 4.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h3 class="font-weight-bold serif text-white">I&M Acupuncture and Digital Body Message Center</h3>
          </div>
          <div class="col-12 text-center mb-5">
            <%= link_to "Home", root_url, :"data-no-turbolink" => true, method: "get" %>
            <span class="mx-3"></span>
            <%= link_to "About", about_index_path, :"data-no-turbolink" => true, method: "get" %>
            <span class="mx-3"></span>
            <%= link_to "Patience", patiences_path, :"data-no-turbolink" => true, method: "get" %>
            <span class="mx-3"></span>
            <%= link_to "Appointments", appointments_path, :"data-no-turbolink" => true, method: "get" %>
          </div>
          <div class="col-12">
            <div class="social_29128 white text-center">
              
              <a href="https://www.facebook.com"><span class="icon-twitter"><i class="fab fa-twitter"></i></span></a>
              <a href="https://www.instragram.com"><span class="icon-instagram"><i class="fab fa-instagram"></i></span></a>
              <a href="https://www.twitter.com"><span class="icon-facebook"><i class="fab fa-facebook"></i></span></a>
              <a href="https://www.twitter.com"><span class="icon-linkedin"><i class="fab fa-linkedin"></i></span></a>
              
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="small">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made <i class="icon-heart text-danger" aria-hidden="true"></i> by <%= link_to "Uwimbabazi Teodette", root_url, target:"_blank", :"data-no-turbolink" => true, method: "get" %>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="../assets/jquery-3.3.1.min.js"></script>
    <script src="../assets/jquery-migrate-3.0.0.js"></script>
    <script src="../assets/popper.min.js"></script>
    <script src="../assets/bootstrap.min.js"></script>
    <script src="../assets/owl.carousel.min.js"></script>
    <script src="../assets/jquery.sticky.js"></script>
    <script src="../assets/jquery.waypoints.min.js"></script>
    <script src="../assets/jquery.animateNumber.min.js"></script>
    <script src="../assets/jquery.fancybox.min.js"></script>
    <script src="../assets/jquery.stellar.min.js"></script>
    <script src="../assets/jquery.easing.1.3.js"></script>
    <script src="../assets/bootstrap-datepicker.min.js"></script>
    <script src="../assets/aos.js"></script>

    <script src="../assets/main.js"></script>

  </body>

</html>

